{% autoescape off %}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Sorosoke Bank!</title>
</head>
<body>
	<p>Subject: Welcome to Sorosoke Bank!</p>
	<p>Dear {{ user.first_name }},</p>
	<p>I'm thrilled to welcome you to Sorosoke Bank! We appreciate your trust in us and look forward to helping you manage your finances with our online banking services.</p>
	<p>Your account has been successfully created, and we're excited to share some information with you. Your account details are as follows:</p>
	<ul>
		<li>Name: {{ user.first_name }} {{ user.last_name }}</li>
		<li>Account Number: {{ user_account.account_number }}</li>
		<li>Account Type: {{ user_account.account_type }}</li>
	</ul>
	<p>To get started, please log in to your account by following these simple steps:</p>
	<ol>
		<li>Go to our <a href="#">website</a> or download our mobile app from the App Store or Google Play.</li>
		<li>Click the 'Log In' button and enter your email address and password.</li>
		<li>Once you're logged in, you'll have access to all the features of our online banking platform, including the ability to view your account balances, make transfers, pay bills, and much more.</li>
	</ol>
	<p>If you have any questions or concerns, our friendly and knowledgeable support team is available to assist you. You can reach us by phone, email, or through our online chat service, which is available 24/7.</p>
	<p>Thank you again for choosing Sorosoke Bank as your financial partner. We are committed to providing you with a seamless and secure banking experience, and we're excited to be on this journey with you.</p>
	<p>Best regards,</p>
	<p>Ifeoma</p>
	<p> Sorosoke Bank Team </p>
</body>
</html>
{% endautoescape %}