<table class="table">
    <tbody>
      <tr>
        <td><strong>Full Name:</strong></td>
        <td>{{ accounts.first_name }} {{ accounts.last_name }}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{ account.email }}</td>
      </tr>
      <tr>
        <td><strong>Date of Birth:</strong></td>
        <td>{{ account.date_of_birth }}</td>
      </tr>
      <tr>
        <td><strong>Phone Number:</strong></td>
        <td>{{ account.phone_number }}</td>
      </tr>
      <tr>
        <td><strong>Address:</strong></td>
        <td>{{ account.address }}</td>
      </tr>
    </tbody>
  </table>
  