<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle"  href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </button>
              <ul class="dropdown-menu">
                <li><a  class="dropdown-item" type="button" href="{% url 'savings_account' %}" >Savings</a></li>
                <li><a  class="dropdown-item" type="button" href="{% url 'current_account' %}" >Current</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
              </ul>
            </div>

          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'register_account' %}">Register</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          {% endif %}
          

          
          
          

          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>