{% extends 'bank/base.html' %}
{% load static %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <h1 class="text-center mt-3 mb-3">Transfers</h1>

  <div class="container">
    <div class="row">
      
      {% include 'bank/profile_menu.html' %}

      <!-- Transfer to same user -->
      <div class="card-body">
        <form method="post" id="transfer-to-self">
          {% csrf_token %}
          <h5><label for="from_account">Transfer to self</label></h5><br>
          <div class="form-group">
            <label for="from_account">From Account</label>
            <select class="form-control" id="from_account" name="from_account">
              {% for account in savings_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }} ||  N{{ account.account_balance }}</option>
              {% endfor %}
              {% for account in current_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }} ||  N{{ account.account_balance }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="to_account">To Account</label>
            <select class="form-control" id="to_account" name="to_account">
              {% for account in savings_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }}  ||  N{{ account.account_balance }}</option>
              {% endfor %}
              {% for account in current_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }}  ||  N{{ account.account_balance }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control" id="amount" name="amount" pattern="\d+" title="Please enter only digits">
          </div>
          <div class="form-group">
            <label for="amount">Pin</label>
            <input class="form-control" id="pin" name="pin" type="password" pattern="\d{6}" title="Please enter only digits">
          </div>
          <button type="submit" class="btn btn-success">Transfer</button>
        </form>
      </div>
      <!-- Transfer to other users -->
      
      <div class="card-body">
        <form method="post" id="transfer-to-others-form">
          {% csrf_token %}
          <h5><label for="from_account">Transfer to others</label></h5><br>
          <div class="form-group">
            <label for="from_account">From Account</label>
            <select class="form-control" id="from_account" name="from_account">
              {% for account in savings_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }} ||  N{{ account.account_balance }}</option>
              {% endfor %}
              {% for account in current_accounts %}
              <option value="{{ account.account_number }}">{{ account.account_type }} - {{ account.account_number }} ||  N{{ account.account_balance }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="to_account">To Account</label>
            <input class="form-control" id="to_account" name="to_account" pattern="^\d{12}$" title="Please enter only digits">
            <input class="form-control" type="text" name="dest_account" id="dest_account" readonly>
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control" id="amount" name="amount" pattern="\d+" title="Please enter only digits">
          </div>
          <div class="form-group">
            <label for="amount">Pin</label>
            <input class="form-control" id="pin" name="pin" type="password" pattern="\d{6}" title="Please enter only digits">
          </div>
          <button type="submit" class="btn btn-success">Transfer</button>
        </form>
      </div>
      

    </div>
    
<div id="search_results"></div>
    <script>
      var delayTimer;
      $('#transfer-to-others-form #to_account').keyup(function(){
        clearTimeout(delayTimer);
        $('#dest_account').val('Searching ...');
        delayTimer = setTimeout(function(){
          var account_number = $('#transfer-to-others-form #to_account').val();
          $.ajax({
            url: '/search/account',
            data: {
              'account_number': account_number,
              'random_number' : Math.random(),
            }, 
            dataType: 'json',
            success: function(data){        
              console.log(data);      
              if (data.found) {
                $('#dest_account').val(data.first_name + ' ' + data.last_name);
              } else {
                $('#dest_account').val('Account not found.');
              }
            }
          });
        }, 2000);
      });
    </script>
    
  </div>

  
{% endblock %}

